<div >
    <div>
        <!-- Plotly  dibujara la grafica dentro del elemento 'temperatureChart'-->
        <div id='temperatureChart'>
    </div>
    <div>
        <!-- Plotly  dibujara la grafica dentro del elemento 'humidityChart'-->
        <div id='humidityChart'>
    </div>
</div>