<div>
    <!-- Plotly  dibujara la grafica dentro del elemento 'gaugeChartTemperature'-->
    <div id='gaugeChartTemperature'>
    <!-- Plotly  dibujara la grafica dentro del elemento 'gaugeChartHumidity'-->
    <div id='gaugeChartHumidity'>
</div>