<div class="jumbotron mt-4">
    <h1 class="display-4">Una Aplicación de notas usando Node.Js y MongoDB!</h1>
    <p class="lead">Esta es una simple aplicación de notas creada usando Javascript, Node.JS, Express y MongoDB</p>
    <hr class="my-4">
    <p>Este es un texto por si acaso
    </p>
    <a class="btn btn-primary btn-lg" href="http://faztweb.com" role="button">FaztWeb</a>
</div>