<div class="jumbotron mt-4">
    <h1 class="display-4">Medición ambiental con IOT!</h1>
    <p class="lead">Supervise sus dispositivos IOT desde aqui</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="https://github.com/NervenCid" role="button">Visitenos</a>
</div>