<div class="card text-center">
  <div class="card-header">
    Perfil de usuario
  </div>
  <div class="card-body">
    <h5 class="card-title">Nombre de usuario: </h5>
    <p class="card-text">{{user.name}}</p>
    <h5 class="card-title">Correo electrónico: </h5>
    <p class="card-text">{{user.email}}</p>
    <a href="/devices" class="btn btn-primary">Ver dispositivos</a>
  </div>
</div>


